@import url("./red_hat_display/stylesheet.css");

:root {
    --color-gray-bg: #d8dee9;
    --color-gray-light: #e5e9f0;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-bg);
    color: #2e3440;
    font-family: "Red Hat Display";
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.download-card {
    background-color: var(--color-gray-light);
    padding: 2rem;
    border-radius: 1rem;
    width: calc(100vw - 6rem);
    max-width: 700px;
}

.download-card .file {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.download-card section {
    display: flex;
    gap: 1rem;
}

.download-card section:first-child {
    flex-grow: 1;
    overflow: hidden;
}

.download-card .index {
    color: #727883;
}

.download-card .filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 100%;
    flex-grow: 1;
}

.download-card .filesize {
    text-wrap: nowrap;
    color: #727883;
}

.download-card .download-icon img {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    max-width: none;
}

.download-card hr {
    margin: 0.5rem 0;
    width: 100%;
    background-color: #7F7F7F;
    height: 1px;
    border: none;
}

.download-card hr:last-of-type {
    height: 0;
}


.button {
    margin-top: 2rem;
    width: 100%;
    background-color: black;
    border-radius: 2rem;
    display: block;
    padding: 0.5rem;

    color: white;
    font-family: "Red Hat Display";
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}